In [1]:
import numpy as np
import matplotlib.pylab as plt
from matplotlib import gridspec
import pandas as pd
import scipy.stats as st
import seaborn as sns

In [2]:
# параметр для задания толщины линии
plt.rcParams['lines.linewidth'] = 1
# параметр для задания ширины точек
plt.rcParams['lines.markersize'] = 6
# параметр для задания шрифта осей x и y (цифр на осях)
plt.rcParams['xtick.labelsize'] = 24
plt.rcParams['ytick.labelsize'] = 24
# параметр для задания шрифта на осях 
plt.rcParams['legend.fontsize'] = 24
# параметр для задания шрифта заголовка
plt.rcParams['axes.titlesize'] = 36
# параметр для задания шрифта осей x и y (название оси)
plt.rcParams['axes.labelsize'] = 12
plt.rcParams['figure.figsize'] = (8.0, 4.0)
# параметр для задания шрифта вспомагательных записей на графику (annotate или text)
plt.rcParams['font.size'] = 10

In [8]:
data = pd.read_csv("p.csv", header=None, names=['datas'])

In [10]:
data.sample(5)

      datas
4420 -170.0
7376  -62.0
4199  163.0
9327  140.0
2827   66.0

In [11]:
print('mean =', np.mean(data).round(3))

mean = datas    0.173
dtype: float64

In [12]:
print('median =', np.median(data).round(3))

median = 0.0

In [13]:
print('std =', np.std(data).round(3))

std = datas    144.614
dtype: float64

In [14]:
data1 = data[data.datas >= 0]

In [15]:
print('mean=', np.mean(data1).round(3))

mean= datas    125.08
dtype: float64

In [19]:
print('mode=', st.mode(data)[0].round(3))

mode= [[-190.]]

In [109]:
#data2 = data.sort_values('datas', kind='mergesort').drop_duplicates()
#data2.iloc[42].round(3)

datas   -248.0
Name: 5394, dtype: float64

In [20]:
data2 = sorted(data.datas)
data2[42]

-248.0