In [1]:
import pandas as pd

In [2]:
url = 'puchkov.k@phystech.edu.csv'
data = pd.read_csv(url, names=['value'])

In [5]:
data.sample(5)

       value
36 -0.257804
43  0.328286
94  1.042382
18  1.725559
28  1.959778

Выборочное среднее по выборке, оценка стандартного отклонения (несмещенная)

In [6]:
data.describe().round(2)

        value
count  100.00
mean     0.69
std      0.93
min     -1.22
25%     -0.05
50%      0.65
75%      1.27
max      2.92

In [7]:
data.mean().round(2), data.std(ddof=1).round(2)

(value    0.69
 dtype: float64,
 value    0.93
 dtype: float64)

In [8]:
import scipy.stats as st

Можно ли отклонить гипотезу о нормальности выборки, используя критерий Харке-Бера?
Отклоняем, если p <=0.05

In [9]:
st.jarque_bera(data)

Jarque_beraResult(statistic=1.7363601178617318, pvalue=0.41971471062181154)

In [10]:
st.jarque_bera(data)[1] > 0.05

True

Можно ли отклонить гипотезу о нормальности выборки, используя критерий Шапиро-Уилка?
Отклоняем, если p <=0.05

In [62]:
st.shapiro(data)

ShapiroResult(statistic=0.9885754585266113, pvalue=0.551556408405304)

In [63]:
st.shapiro(data)[1] > 0.05

True

In [64]:
data.sample(5)

       value
79  1.220873
45  1.187223
74  0.126692
41  0.762726
96  0.985823

**Бинаризация выборки**

Проведите бинаризацию выборки по следующему правилу:
все  неотрицательные элементы замените на единицы,  все отрицательные элементы замените на нули.

In [11]:
data1 = data.copy()
data1[data.value >= 0] = 1
data1[data.value < 0] = 0

In [12]:
data1.sample(5)

    value
61    1.0
62    1.0
32    0.0
12    1.0
41    1.0

Сумма единиц в бинаризованной выборке

In [13]:
import numpy as np
np.sum(data1.value)

73.0

Значение p-value для биномиального теста с двусторонней альтернативой (p0 = 0.5)

In [14]:
p0 = 0.5
print(st.binom_test(data1.sum(), len(data1), p0, alternative='two-sided'))#.round(2)

4.69241261264223e-06

Значение статистики для критерия отношения правдоподобия

In [15]:
p = data1.sum() / len(data1)
l_L = st.bernoulli.logpmf(data1, 0.5).sum()
l_S = st.bernoulli.logpmf(data1, p).sum()
LR = 2 * (l_L - l_S).round(2)
print(LR)

-21.98